
@{
    ViewBag.Title = "PaymentSuccess";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div style="text-align:center">
    <img src="~/Assets/SiteImages/sucesspayment.gif" />
    <h1 style="color:green">Ödeme Başarılı</h1>
    <div style="height:20px"></div>
    <a href="@Url.Action("Index","Home")" class="gotoHome">Alışverişe Devam Et</a>
</div>

